<a href="https://colab.research.google.com/github/jahnavi2506-stack/my-first-project/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reverse a string
a="jahnavi"
print(a[::-1])

ivanhaj

In [ ]:
#prime or not
num=int(input("Enter a number:"))
if num > 1:
    for i in range(2,num):
        if num % i == 0:
            print('not prime')
            break
    else:
      print('prime')
else:
    print('not prime')

Enter a number:-1
not prime

In [ ]:
#palindrome or not
y=input("Enter string:")
if y == y[::-1]:
  print("palindrome")
else:
  print("not palindrome")

Enter string:jahnavi
not palindrome

In [ ]:
#even numbers form the list
list1=[1,2,3,4,5,10,15,22]
for i in list1:
  if i % 2 == 0:
    print(i)

2
4
10
22

In [ ]:
#max and min
tuple = (23,13,89,76)
dict = {12,67,81,90}
print(max(tuple))
print(min(tuple))
print(max(dict))
print(min(dict))

89
13
90
12

In [ ]:
#swapping of variables
a = 5
b = 7
a,b = b,a
print (a,b)
print (b,a)
#using temp
c=input("Enter c value:")
d=input("Enter d value:")
temp = c
c = d
d = temp
print("c = " +c)
print("d = ",d)

7 5
5 7
Enter c value:58
Enter d value:95
c = 95
d =  58

In [ ]:
#fibonacci series
n=int(input("enter no.of terrms:"))
a = 0
b = 1
for i in range (n):
  print(a,end='')
  a , b = b, a+b

enter no.of terrms:5
01123

In [ ]:
#sum of numbers
list2 = [1,2,3,4,5]
sum = 0
for i in list2:
 sum  = sum + i
print(sum)
#list3 = [1,2,3,24,15]
#total = sum(list3)
#print(total)

15

In [ ]:
#seperating even and odd in arrays-list:orderd and allows duplicates can be changed~mutable
arr=[21,2,4,7,8,9,7]
even=[num for num in arr if num % 2 == 0]
print("Even:",even)
odd=[num for num in arr if num % 2 != 0]
print("Odd:",odd)
#calculating average of array
avg=sum(arr)/len(arr)
print("Average:",avg)
#finding arrays
print("Index:" ,arr.index(21))
print("Index:",arr.index(9))

Even: [2, 4, 8]
Odd: [21, 7, 9, 7]
Average: 8.285714285714286
Index: 0
Index: 5

In [ ]:
arr1 = [5,20,89,51,96]
x = int(input("Enter value:"))
if x in arr1:
  print("Index:",arr1.index(x))
else:
  print("not found")
print("Reverse of an array:",arr1[::-1])
#merging 2 arrays
arr2 = [13,45,89]
merged = arr1 + arr2
#merged = list(set(arr1+arr2))
print("After merging:",merged)
#common element form both the arrays
#common = [arr1] & [arr2]-doesnot work
common = list(set(arr1) & set(arr2))
print("Common element is:",common)

Enter value:089
Index: 2
Reverse of an array: [96, 51, 89, 20, 5]
After merging: [5, 20, 89, 51, 96, 13, 45, 89]
Common element is: [89]

In [ ]:
#occurance of each element
arr1 = [5,20,89,51,96]
count = {}
for i in arr1:
  count[i] = count.get(i,0) + 1
print(count)

{5: 1, 20: 1, 89: 1, 51: 1, 96: 1}

In [ ]:
#in form of tuples-orderd and allows duplicates but cannot be changed~immutable
arr1=[21,2,4,7,8,9,7]
even1_gen=(num for num in arr1 if num % 2 == 0)
#print("Even:",even1_gen)
print(list(even1_gen))
odd1_gen=(num for num in arr1 if num % 2 != 0)
print("Odd:",odd1_gen)
print(list(odd1_gen))

[2, 4, 8]
Odd: <generator object <genexpr> at 0x7eba4f97e5a0>
[21, 7, 9, 7]

In [ ]:
#in form of sets-unordered and doesnot allow duplicataes
arr2=[21,2,4,7,8,9,17]
even2_set={num for num in arr2 if num % 2 == 0}
print("Even:",even2_set)
odd2_set={num for num in arr2 if num % 2 != 0}
print("Odd:",odd2_set)

Even: {8, 2, 4}
Odd: {9, 21, 17, 7}

In [ ]:
#print multiplication of a number
r=int(input("Enter a number:"))
for i in range(1,11):
  print(f"{r} x {i} = {r*i}")

Enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#removing duplicates from list
lst = [23,33,64,43,33,64,62]
unique=list(set(lst))
print(unique)

[64, 33, 43, 23, 62]

In [ ]:
#removing duplicates from tuple
tple = (41,79,80,76,54,41)
unique = tuple(set(tple))
print(unique)

(41, 76, 79, 80, 54)

In [ ]:
import math
a=9
b=27
print("sqrt of a is:",math.sqrt(a))
print("sqrt of b is:",math.sqrt(b))
print("power is:",math.pow(a,b))
print("gcd of a,b is:",math.gcd(a,b))
#print(math.pi)
#print(math.e)
print("lcm of a,b is:",math.lcm(a,b))

sqrt of a is: 3.0
sqrt of b is: 5.196152422706632
power is: 5.814973700304006e+25
gcd of a,b is: 9
lcm of a,b is: 27

In [ ]:
#obtainig elements
lst = [12,56,24,89,73,79]
#lst = list(set(lst))
lst.sort()
print("second highest element is:",lst[-2])
print("second smallest element is:",lst[1])

second highest element is: 79
second smallest element is: 24

In [ ]:
#square of even numbers
for i in range(1,11):
  if i % 2 == 0:
    print(i)
    squares = (i*i)
    print(f"square of {i} is :{squares}")

2
square of 2 is :4
4
square of 4 is :16
6
square of 6 is :36
8
square of 8 is :64
10
square of 10 is :100

In [ ]:
print("hello" + " " + input("What is your name:"))

What is your name:Jahnavi
hello Jahnavi

In [ ]:
#input takes string values
#variable name should start with alphabets not numbers[1_age-not valid,age_1-valid]
var_1=0o125#means octal 8
var_2=0x125#hexadecimal 16
var_3=0b1010#binary 2
print("jenny\'s \"Lectures\"")
print(var_1)
print(var_2)
print(var_3)
print(var_1+var_2)

jenny's "Lectures"
85
293
10
378

In [ ]:
num = 456
sum_digits = 0

while num > 0:
    digit = num % 10        # Get the last digit
    sum_digits += digit     # Add it to the sum
    num = num // 10         # Remove the last digit

print("Sum of digits:", sum_digits)

Sum of digits: 15

In [ ]:
#Armstrong number
num = 256
original = num
n = len(str(num))  # Number of digits{because int has no length we should use str}

sum_digits = 0

while num > 0:
    digit = num % 10
    sum_digits += digit ** n  # Raise digit to power of number of digits
    num = num // 10

if sum_digits == original:
    print(original, "is an Armstrong number")
else:
    print(original, "is not an Armstrong number")

256 is not an Armstrong number

In [ ]:
number=input("Enter no.of digits:")
first_digit=number[0]
second_digit=number[1]
print(first_digit + second_digit)#concat
print(int(first_digit) +int(second_digit))

Enter no.of digits:12
12
3

In [ ]:
a,b = 4,3
c = a+b
a += 2
c/= a
print(c)

1.1666666666666667

In [ ]:
#operators
i,j = 3,9
print(i+j)
print(i-j)
print(i*j)
print(i>>3)
print(i%j)
print(i**j)
print(i<<j)
print(i&j)
print(i|j)
print(i^j)
print(~i)
print(i/j)
print(i//j)

12
-6
27
0
3
19683
1536
1
11
10
-4
0.3333333333333333
0

In [ ]:
#memory manager doesn't create new objects, it reallocates for same data
a = 5
b = '5'
print(id(a))
print(id(b))
print(a is  b)
c = 7
d = 7.0
print(id(c))
print(id(d))
print(c is not d )
e = 5
print(id(e))
e = 6
print(id(e))#id will be changed although new value is assigned to the same one

10750984
10794432
False
10751048
140547422545744
True
10750984
10751016

In [ ]:
#membership operator
str = "jahnavi"
print('avi' in str)
print('J' in str)
l1=[2,-67,0,89]
print(0 not in l1)

True
False
False

In [ ]:
#calculating BMI
wei = int(input("Enter weight in kg:"))
hei = float(input("Enter height in meters:"))
#BMI = wei/(hei*hei)
bmi = int(wei)/float(hei)**2
if bmi<18.5:
  print(f"your BMI is {BMI},you are underweight")
elif bmi<25:
  print(f"your BMI is {BMI},you have normal weight")
elif bmi<30:
  print(f"your BMI is {BMI},you are overweight")
elif bmi<35:
  print(f"your BMI is {BMI},you are obese")
else:
  print(f"your BMI is {BMI},you are severely obese")

Enter weight in kg:50
Enter height in meters:1.7
your BMI is 18.749999999999996,you are underweight

In [ ]:
#round function
print(round(21.6755,2))
print(round(7,2))
print(round(2.675))#if specific value is not mentioned the default value will be considered i.e., 0
print(type(round(2.675)))
print(round(6.5))
print(round(7.5))#it would either return 7 or 8 but the nearest even integer is 8
print(round(674,-1))#generally we write it as 10^(-no.of digits)i.e.,10^-(-1) closet multiple of 10
print(round(674,2))
print(round(674,0))
print(round(874,-2))#last 2 digits would be 00 and beside no of 8 is 7>5 so +1 otherwise -1
print(round(-8/3))
print(round(-8/3,2))

21.68
7
3
<class 'int'>
6
8
670
674
674
900
-3
-2.67

In [ ]:
current_age = int(input("Enter current age:"))
target_age = 90
years_left = target_age-current_age
moths_left = years_left*12
weeks_left = years_left*52
days_left = years_left*365
print(f"You have {days_left} days,{weeks_left} weeks,{moths_left} months,{years_left} years left")

Enter current age:20
You have 25550 days,3640 weeks,840 months,70 years left

In [ ]:
#leap year or not
year = int(input("Enter year you wanted to check:"))
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print("Leap year")
    else:
      print("not a Leap year")
  else:
    print("Leap year")
else:
  print("not a Leap year")

Enter year you wanted to check:2025
not a Leap year

In [ ]:
#pizza ordering program
print("Welcome to python pizza deliveries!")
size = input("What size pizza do you want? S,M,L "+" ")
add_pepperoni = input("Do you want pepperoni? Y or N "+" ")
extra_cheese = input("Do you want extra cheese? Y or N "+" ")
bill = 0
if size == 'S' or size == 's':
  bill += 100
  print("Pizza size is small with cost 100")
elif size == 'M'or size == 'm':
  print("Pizza size is medium with cost 200")
  bill += 200
else:
  print("Pizza size is large with cost 300")
  bill +=300
if add_pepperoni == 'Y' or add_pepperoni == 'y':
  if size == 'S' or size == 's':
    bill+=20
  else:
    bill+=30
if extra_cheese == 'Y' or extra_cheese == 'y':
  if size =='S'or size =='s':
    bill+=10
  else:
    bill+=15
print(f"Your final bill is: {bill}")

Welcome to python pizza deliveries!
What size pizza do you want? S,M,L  m
Do you want pepperoni? Y or N  y
Do you want extra cheese? Y or N  y
Pizza size is medium with cost 200
Your final bill is 245

In [ ]:
#love calculator
print("Welcome to the Love Calculator!")
name1 = input("What is your name? \n")
name2 = input("What is their name? \n")
name = name1 + name2
name = name.lower()
t = name.count('t')
r = name.count('r')
u = name.count('u')
e = name.count('e')
true = t+r+u+e

l = name.count('l')
o = name.count('o')
v = name.count('v')
e = name.count('e')
love = l+o+v+e
score = int(str(true)+str(love))
if score < 10 or score > 90:
  print(f"Your score is {score}, you go together like coke and mentos.")
elif score >= 40 and score <= 50:
  print(f"Your score is {score}, you are alright together.")
else:
  print(f"Your score is {score}.")

Welcome to the Love Calculator!
What is your name?
prasad
What is their name?
sirisha
Your score is 20.

In [ ]:
mix_list = [1,"jahnavi",-76,True,100.18]
print(mix_list[1:3])
print(mix_list[0:4:2])#skips 2 elements in between
mix_list.insert(2,56)
mix_list.append(78)
mix_list.extend([1,2,3])
mix_list.remove(1)
mix_list.pop(3)#the elements in list before changes will be popped out as per index
print(mix_list)

['jahnavi', -76]
[1, -76]
['jahnavi', 56, -76, 100.18, 78, 1, 2, 3]

In [ ]:
import random
side = random.randint(0,1)
if side == 1:
  print("Heads")
else:
  print("Tails")

Heads