<a href="https://colab.research.google.com/github/jahnavi2506-stack/my-first-project/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import math
p=float(input("enter principle amount:"))
t=float(input("enter time period in years:"))
r=float(input("enter rate of intrest:"))
amt=p*(1+r/100)**t #p*(math.pow((1+r/100)),t)
print("compound amount:",amt)
ci=amt-p
print(ci)

enter principle amount:12000
enter time period in years:5
enter rate of intrest:10
compound amount: 19326.120000000006
7326.120000000006

In [ ]:
x1=int(input("enter x1:"))
x2=int(input("enter x2:"))
y1=int(input("enter y1:"))
y2=int(input("enter y2:"))
distance=(((x2-x1)**2)+((y2-y1)**2)**0.5)
print(distance)

enter x1:2
enter x2:6
enter y1:9
enter y2:3
22.0

In [ ]:
name,age="jahnavi",18
address="Hyderabad,Telengana,India"
email="jahnavi.250605@gmail.com"
phone_number=7207611189
print("name:{}\nage:{}\naddress:{}\nemail:{}\nphone_number:{}\n".format(age,name,address,phone_number,email))

name:18
age:jahnavi
address:Hyderabad,Telengana,India
email:7207611189
phone_number:jahnavi.250605@gmail.com

In [ ]:
A62=int(input("enter the value of A62:"))
for i in range(1,6):
  for j in range(i):
    print(A62,end="")
  A62=A62-1
  print(" ")

enter the value of A62:3
3
22
111
0000
-1-1-1-1-1

In [ ]:
A62=input("enter the character:")
if A62.isdigit():
  print("DIGIT")
elif A62.isupper():
  print("upper case character")
elif A62.islower():
  print("lower case character")
else:
  print("special character")

enter the character:@
special character

In [ ]:
B62=int(input("enter the no.of elements:"))
a=0
b=1
print(a,b,end=" ")
i=2
while(i<B62):
  sum=a+b
  print(sum,end=" ")
  a=b
  b=sum
  i=i+1

enter the no.of elements:9
0 1 1 2 3 5 8 13 21

In [ ]:
E8=1
E81=5
print("prime numbers between E8 and E81 are:")
for num in range(E8,E81+1):
  if num>1:
    for i in range(2,num):
      if(num%i)==0:
        break
  else:
    print(num)

prime numbers between E8 and E81 are:
1

In [ ]:
def gcd(e8,e81):
  while e8!=e81:
    if e8>e81:
      e8-=e81
    else:
      e81-=e8
  return e8
print("gcd is",gcd(60,30))

gcd is 30

In [ ]:
import numpy as cse
j62=[1,2,3,4,5,6]
print("list to array:")
print(cse.asarray(j62))
s62=([8,4,6],[1,2,3])
print("tuple to array:")
print(cse.array(s62))

list to array:
[1 2 3 4 5 6]
tuple to array:
[[8 4 6]
 [1 2 3]]

In [1]:
import numpy as np
E8=np.array([0,10,20,30,40,60])
print("E8:",E8)
E51=[10,20,30,40]
print("E8:",E51)
print("common values between two arrays:")
print(np.intersect1d(E8,E51))

E8: [ 0 10 20 30 40 60]
E8: [10, 20, 30, 40]
common values between two arrays:
[10 20 30 40]

In [3]:
def p(j62):
   return j62==j62[::-2]#when -2 is given reversed string is not be equal to the original
j62="madam"
answer=p(j62)
if answer:
  print("yes")#returns yes when -1 is given
else:
  print("no")

no

In [ ]:
word="jahnavi"
word_with_commas=','.join(list(word))
print(word_with_commas)

j,a,h,n,a,v,i

In [ ]:
c62="This is a test string.This word should be removed."
result=c62.replace("This","")
print(result)

 is a test string. word should be removed.

In [6]:
def capitalize_first_letter(sentence):
  words=sentence.split()
  print(words)
  capitalized_words=[]
  for word in words:
    first_letter=word[0]
    rest_of_word=word[1:].lower()
    j62=first_letter.upper()+rest_of_word
    capitalized_words.append(j62)
  capitalized_sentence=''.join(capitalized_words)
  return capitalized_sentence

sentence="aNIL bAJ lOKESH"
result= capitalize_first_letter(sentence)
print(result)

['aNIL', 'bAJ', 'lOKESH']
AnilBajLokesh

In [7]:
def unique_list(l):
    v62 = []
    for a in l:
        if a in v62:
            print("Removed element:", a)
        else:
            v62.append(a)
    return v62

print(unique_list([4, 5, 6, 6, 7, 8, 8]))

Removed element: 6
Removed element: 8
[4, 5, 6, 7, 8]